{
    "tarifs": {
        "entretien":2.86,
        "repas":1.5,
        "gouter":0.5,
        "tauxHoraire":3.60
    },
    "contrat":{
        "salaireDeBase":362,
        "nombreDeCa":14,
        "nombreHeureTotal":"1097",
        "dateDebutContrat":"2015-Sep-01",
        "dateFinContrat":"2016-Aug-31"
    }
}
